---
# Copy this file to sshgate.yml and adjust it for your deployment.
sshgate_max_fingerprints: 0
sshgate_listen_addr: "[::]"
sshgate_source_port: 2222
sshgate_dest_host: 127.0.0.1
sshgate_dest_port: 22
sshgate_routes:
  - "{{ sshgate_listen_addr }}:{{ sshgate_source_port }}={{ sshgate_dest_host }}:{{ sshgate_dest_port }}"
sshgate_allow_unknown: false
sshgate_metrics_listen: "127.0.0.1:9108"
sshgate_configure_local_prometheus: true
sshgate_prometheus_config: /etc/prometheus/prometheus.yml
sshgate_prometheus_target: "127.0.0.1:9108"
sshgate_approved_fingerprints: []
